.q1{
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q1-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q1-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q1-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q1-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q1-a {
    margin-left: 20px;
    width: 450px;
}

.q2{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q2-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q2-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q2-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q2-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q2-a {
    margin-left: 20px;
    width: 450px;
}

.q3{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q3-img1{
    margin-left: 20px;
}
.q3-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: 9px;
}
.q3-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q3-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q3-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q3-a {
    margin-left: 20px;
    width: 450px;
}

.q4{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q4-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q4-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q4-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q4-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q4-a {
    margin-left: 20px;
    width: 450px;
}

.q5{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q5-img1, .q5-img4, .q5-img3, .q5-img2{
    margin-left: 20px;
    margin-bottom: 15px;
}
.q5-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q5-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q5-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q5-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q5-a {
    margin-left: 20px;
    width: 450px;
}

.q6{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q6-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q6-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q6-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q6-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q6-a {
    margin-left: 20px;
    width: 450px;
}

.q7{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q7-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q7-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q7-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q7-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q7-a {
    margin-left: 20px;
    width: 450px;
}

.q8{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q8-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q8-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q8-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q8-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q8-a {
    margin-left: 20px;
    width: 450px;
}

.q9{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q9-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q9-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q9-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q9-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q9-a {
    margin-left: 20px;
    width: 450px;
}

.q10{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;   
    margin-left: 20px;
}
.q10-a1{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -9px;
}
.q10-a2{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q10-a3{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q10-a4{
    font-size: 17px;
    font-weight:bolder;  
    margin-left: 20px;
    margin-top: -15px;
}
.q10-a {
    margin-left: 20px;
    width: 450px;
}
