.title_txt_up {
    margin: 20px;
    font-size: 50px;
    font-weight: bold;   
}
.settings_test_txt{
    margin-top: -15px;
    margin-left: 20px;
    font-size: 19px;
    font-weight: bolder;
}
.admin_title_txt{
    font-weight: bold;
}

.question_answer_text{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 24px;
    font-weight: bold;
}
.question_txt{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 19px;
    font-weight:500;
}
.logo_left{
    position: absolute;
    top: 15px;
    right: 5px;
    width: 130px;
}